<!DOCTYPE html>
<html>

<head>
    <title> Equipment </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel='stylesheet' href='/stylesheets/calendar.css' />

</head>

<body>
    <div class='container-fluid pt-2'>
        <nav class="navbar navbar-light">
            <div>
                <a class="btn btn-warning mr-2" href="/donate" role="button">
                    Donate
                </a>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <button type="button" class="btn btn-success float-right"> Log Out </button>
        </nav>
    </div>
    <div class="jumbotron jumbotron pb-2" id="jumbo">
        <div class="container justify-content-center">
            <h1 class="display-5">Hello Michael!</h1>
        </div>
    </div>

    <div class="container">
        <div class=row>
            <div class="col-4 justify-content-left">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date Selected: </span>
                    </div>
                    <input type="text" class="form-control" value="02/23/2019">
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-3 col-8">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Available</th>
                    <th>Quantity</th>
                    <th>Fee per each</th>
                </tr>
            </thead>
            <tbody class="table table-light table-bordered">
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <td>
                        Chair
                    </td>
                    <td>
                        300
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        $1
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <td>
                        Table
                    </td>
                    <td>
                        100
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        $5
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <td>
                        Table Cloth
                    </td>
                    <td>
                        100
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        $.50
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <td>
                        Charcoal BBQ
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        $20
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class=".col-md-3 .offset-md-3"></div>
            <div class=".col-md-3 .offset-md-3">
                <a class="btn btn-warning mr-2" href="/payments" role="button">
                    Reserve
                </a>
            </div>
        </div>
    </div>

    <div>
        <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
            <a class="navbar-brand mr-3" href="/">Home</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3 mr-3" href="/">Refund Policy</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3" href="/requests">Requests</a>
        </nav>
    </div>
</body>

</html>