<!DOCTYPE html>
<html>

<head>
    <title> Login </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/register.css' />

</head>

<body>
    <div class='container-fluid pt-2'>
        <nav class="navbar navbar-light">
            <div>
                <button type="button" class="btn btn-warning mr-2"> Volunteer! </button>
                <button type="button" class="btn btn-warning mr-2"> Donate! </button>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <button type="button" class="btn btn-success float-right"> Rental Services </button>
        </nav>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="container col-6  d-flex align-items-center justify-content-center">
        <form class="align-items-center">
            <div class="form-group mt-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="password" placeholder="Password">
            </div>
    </div>

    <div class="container col-6  d-flex align-items-center justify-content-center">
        Forgot your password?

        </form>

    </div>
    <div class="container col-6 mt-3 d-flex align-items-center justify-content-center"">
            <a class=" btn btn-warning mr-2" href="/enrolled" role="button"> Login
        </a>

    </div>
</body>

</html>