<!DOCTYPE html>
<html>

<head>
    <title> Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/register.css' />

</head>

<body>
    <div class='container-fluid pt-2'>
        <nav class="navbar navbar-light">
            <div>
                    <a class="btn btn-warning mr-2" href="/volunteer" role="button">
                        Volunteer!
                    </a>
                    <a class="btn btn-warning mr-2" href="/donate" role="button">
                        Donate
                    </a>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="btn btn-success mr-2" href="/rentals" role="button">
                Rentals
            </a>
        </nav>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="container col-6  d-flex align-items-center justify-content-center">
        <form class="align-items-center">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">

                </div>
            </div>
            <div class="form-group mt-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
            </div>

            <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" id="check">
                <label class="form-check-label" for="check">
                    I accept the Terms of Use & Privacy Policy
                </label>
            </div>
        </form>

    </div>
    <div class="container col-6 mt-3 d-flex align-items-center justify-content-center"">
            <a class=" btn btn-warning mr-2" href="/enrolled" role="button"> Register Now
        </a>

    </div>
    <div>
        <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
            <a class="navbar-brand mr-3" href="/">Home</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3 mr-3" href="/">Refund Policy</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3" href="/requests">Requests</a>
        </nav>
    </div>
</body>

</html>