<!DOCTYPE html>
<html>

<head>
    <title> Vounteer for something </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/register.css' />

</head>

<body>
    <div class='container-fluid pt-2'>
        <nav class="navbar navbar-light">
            <div>
                <a class="btn btn-warning mr-2" href="/donate" role="button">
                    Donate
                </a>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="btn btn-success mr-2" href="/rentals" role="button">
                Rentals
            </a>
            
        </nav>
    </div>
    <div class="jumbotron jumbotron" id="jumbo">
        <div class="container justify-content-center">
            <h1 class="display-4">Hello Michael!</h1>
            <p class="lead">Choose a class or service to volunteer for</p>
        </div>
    </div>

    <div class="container-fluid col-8 d-flex">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>Class</th>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody class="table table-light table-bordered">
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <td>
                        Sewing
                    </td>
                    <td>
                        Thursday
                    </td>
                    <td>
                        5:00-7:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        Knitting
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        2:00-3:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        Swimming
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        2:00-3:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        On Call Senior Driver
                    </td>
                    <td>
                        Monday
                    </td>
                    <td>
                        9:00-12:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        On Call Senior Driver
                    </td>
                    <td>
                        Tuesday
                    </td>
                    <td>
                        9:00-12:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        On Call Senior Driver
                    </td>
                    <td>
                        Wednesday
                    </td>
                    <td>
                        9:00-12:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        On Call Senior Driver
                    </td>
                    <td>
                        Thursday
                    </td>
                    <td>
                        9:00-12:00PM
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        On Call Senior Driver
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        9:00-12:00PM
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container col-6 mt-3 d-flex align-items-right justify-content-right"">
        <a class=" btn btn-warning mr-2" href="/enrolled" role="button">
        Volunteer for Selection
        </a>


    </div>
    <div>
        <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
            <a class="navbar-brand mr-3" href="/">Home</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3 mr-3" href="/">Refund Policy</a>
            <h4>|</h4>
            <a class="navbar-brand ml-3" href="/requests">Requests</a>
        </nav>
    </div>
</body>

</html>